<!--   <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex="50">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Question: {{quest.question}}</span>
            <md-input-container class="md-block" flex-gt-sm="">
            <label>Answer</label>
            <input ng-model="cardanswer" name="cardans">
          </md-input-container>
          <md-button flex="5" layout-align="center center" class="md-raised md-primary" ng-click="qanswer()">Submit</md-button>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </md-content>
 -->